body {
    font-family: "robot";
    /*background-image:url("images/circuit5.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
   
}    

#errors {
    font-size: 20px;
    left:100px;
    position: absolute;
}

#accepted{
    font-size:20px;
   position: absolute;
   right:100px;

}


@font-face {
    font-family: "robot";
    src: url("images/robot.ttf") format("truetype");
}


#userGuess {
    font-size: 25px;
    text-align: center;

}

#mainBox {
    text-align: center;
    text-shadow: 0 0 0 3px rgba(63, 240, 0, 0.2);
    background-color: rgba(135, 131, 131, 0.11);
    box-shadow: 0px 0px 5px 5px rgba(63, 240, 0, 0.2);
}

#timer{
	font-size: 20px;
}

#gameBtn {
	margin-bottom:10px;
}

#imageDisplay {
	margin-top: 50px;
    position: absolute;
    left: -500px;
    height: 100%;
    width: 100%;
}

img{
	 box-shadow: 0px 0px 5px 5px rgba(63, 240, 0, 0.2);

}    

.userGuess {
    width: 300px;
    height: 50px;
    margin-left: 60px;
    margin-bottom: 30px;
    font-size: 25px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

.userGuess:hover {
  box-shadow: 0 0 0 3px rgba(63, 240, 0, 0.2);

}    

#answerDiv {
    box-shadow: 0px 0px 5px 5px rgba(63, 240, 0, 0.2);
	font-size: 25px;
	margin-top: 50px;
    padding: 40px;
}

#results{
	text-align:center;
	font-size: 30px;
}

#gameBtn {
	background-color:rgba(63, 240, 0, 0.2);
	border-color: rgba(63, 240, 0, 0.2);
	color:black;
}

#results, #accepted {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: green;}
    to {color: black;}
}

#errors {
    animation-name: flashB;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flashB {
    from {color: red;}
    to {color: black;}
}

@media screen and (max-width:1200px) {
    #errors, #accepted {
    position: relative;
    clear:both;
    text-align: center;
    }

#answerDiv {

    width:100%;
    }

#imageDisplay{
    width:100%;
    position: relative;
    }
}


@media screen and (max-width:760px) {
    #errors, #accepted {
    position: relative;
    clear:both;
    text-align: center;
}

#answerDiv {
    width:100%;
}

#imageDisplay{
    width:100%;
    position: relative;
}


}

@media screen and (max-width:640px) {

#errors, #accepted {
 position: relative;
 clear:both;
 text-align: center;
}

#answerDiv {
    width:100%;
}

#imageDisplay{
    left: 0px;
    width:100%;
    position: relative;
}


}
